<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>table</title>
</head>
<body>
    <table border="3px">
        <tr>
            <td>№</td>
            <td>Название таблицы</td>
            <td>Дата создания</td>
        </tr>
        {% for row in history %}
        <tr>
            <td>{{row.id}}</td>
            <td><a href="{{ url_for('show_table', tablename=row.table_name) }}">{{row.table_name}}</a></td>
            <td>{{row.date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>